.row{
	width: 100%;
	margin-top:5px; 
	border: solid; 
	border-width: 1px; 
	height:30px;
	padding: 5px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
}

.row:nth-child(odd){
	background-color: rgb(188, 199, 216);
}

.row:nth-child(even){
	background-color: rgb(127, 133, 142);
}

div.row.available p{
	flex: 1;
	text-align: center;
	margin: auto auto;
}

div.row.available:hover{
	background-color: rgb(127, 113, 132);
}

div.row.invalid{
	background-color: rgb(196, 64, 82);
	justify-content: space-around;
}

div.row.invalid p{
	flex : 3;
	margin:auto auto;
	text-align: center;
}

div.row.invalid button{
	flex: 1;
}

h1{
	text-align: center;
}

#date{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

button{
	padding: 5px 15px;
	border-radius: 5px;
	font-weight: bold;
}

.content-container{
	width: 40%; 
	margin: 10px auto;
	border-radius: 10px;
	box-shadow: 0 0 5px black;
	border: 3px solid white;
	padding: 5px;
}

@media screen and (max-width: 500px){
    .content-container{
        width: 94%;
        margin: auto auto;
        margin-bottom: 20px;
    }

}

.styled_btn{
	border:1px solid #7d99ca; 
	border-radius: 3px;
	font-size:12px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	color: #FFFFFF;
	background-color: #A5B8DA; 
	background-image: linear-gradient(to bottom, #A5B8DA, #7089B3);
	margin: 2px;
}
	
.styled_btn:hover{
	border:1px solid #5d7fbc;
	background-color: #819bcb;
	background-image: linear-gradient(to bottom, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}