.formDetailContainer{
    margin: 0 auto;
	margin-top: 20px;
    width: 80%;
}

.formDetailContainer label{
	display: block;
	font-size: 18pt;
	padding-bottom: 10px;
}

.formDetailContainer input{
    border-radius: 5px;
    width: 90%;
    height: 30px;
}

.formDetailContainer textarea{
	display: block;
    border-radius: 5px;
    width: 90%;
    height: 90px;
    resize: none;
}

form{
	border-radius: 10px;
	box-shadow: 0 0 5px black;
	border: 3px solid white;
}

form h1{
	text-align: center;
}

.content-container{
	width: 40%;
	margin: 0 auto;
}

a.styled_btn{
	display: block;
	width: 20%;
	border-radius: 5px;
}


@media screen and (max-width: 500px){
    .content-container{
        width: 94%;
        margin: auto auto;
        margin-bottom: 10px;
	}
	
	a.styled_btn{
		width: 30%;
	}

}

.styled_btn{
	border:1px solid #7d99ca; 
	border-radius: 3px;
	font-size:12px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	color: #FFFFFF;
	background-color: #A5B8DA; 
	background-image: linear-gradient(to bottom, #A5B8DA, #7089B3);
	margin: 2px;
}
	
.styled_btn:hover{
	border:1px solid #5d7fbc;
	background-color: #819bcb;
	background-image: linear-gradient(to bottom, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}