.formDetailContainer{
    margin: 0 auto;
	margin-top: 20px;
    width: 80%;
}

.formDetailContainer label{
	display: inline;
	font-size: 18pt;
	padding-bottom: 10px;
}

.formDetailContainer p{
	display: inline;
    border-radius: 5px;
    width: 90%;
    height: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
}

.formDetailContainer textarea{
	display: block;
    border-radius: 5px;
    width: 90%;
    height: 90px;
    resize: none;
}

.formDetailContainer button{
	display: inline;
	border-radius: 5px;
    width: 45%;
    height: 30px;
    margin-bottom : 10px;
}

form{
	border-radius: 10px;
	box-shadow: 0 0 5px black;
	border: 3px solid white;
}

form h1{
	text-align: center;
}

.content-container{
	width: 65%;
	margin: 0 auto;
}


.mediaUpload img{
	max-height: 200px;
	max-width: 200px;
}

@media screen and (max-width: 500px){
    .content-container{
        width: 94%;
        margin: auto auto;
        margin-bottom: 10px;
    }

    .formDetailContainer a{
        display: block;
        width: 30%;
        margin: 10px auto;
    }

    .formDetailContainer button{
        display: block;
        border-radius: 5px;
        width: 50%;
        height: 30px;
        margin: 0 auto;
        margin-bottom : 10px;
    }

    .formDetailContainer label{
        display:block;
    }

    
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
	width: 80%;
	margin-top: 8%;
}

/* The Modal (background) */
.grayBackground {
	display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}