.row{
	width: 100%;
	margin-top:5px;
	border: solid;
	border-width: 1px; 
	padding: 5px;
	border-radius: 5px;
	display: flex;
	flex-direction: row;
}

.content-container{
    width: 80%;
    margin: auto auto;
}

.row:nth-child(odd){
	background-color: rgb(188, 199, 216);
}

.row:nth-child(even){
	background-color: rgb(127, 133, 142);
}


#table-head{
    background-color: rgb(130, 168, 229);
}

h1{
	text-align: center;
}

.row .part{
    flex: 1;
    text-align: center;
    margin: auto 5px;
}

.row .stock-quantity{
    flex: 1;
    text-align: center;
    margin: auto 5px;
}

.row .ordered-quantity{
    flex: 1;
    text-align: center;
	margin: auto 5px;
	display: flex;
	flex-direction: row;
}

.row .order-container{
    flex: 1;
	display: flex;
	flex-direction: column;
    margin: auto 5px;

}

.row .order-container input{
    text-align: center;
}

.row p,th {
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto auto;
}

.form-container{
    display:flex;
    flex-direction: row;
    width: 80%;
    margin: auto auto;  
}

.form-container select,label,input,button{
    flex: 1;

}   




@media screen and (max-width: 500px){
    .content-container{
        width: 94%;
        margin: auto auto;
    }

    .form-container{ 
        flex-direction: column;
    }

    .nav{
        margin-bottom: 5px;
    }

    .row .ordered-quantity{
        flex-direction: column;
    }


}

.styled_btn{
	border:1px solid #7d99ca; 
	border-radius: 3px;
	font-size:12px;
	text-shadow: 1px 1px 0 rgba(0,0,0,0.3);
	color: #FFFFFF;
	background-color: #A5B8DA; 
	background-image: linear-gradient(to bottom, #A5B8DA, #7089B3);
	margin: 2px;
}
	
.styled_btn:hover{
	border:1px solid #5d7fbc;
	background-color: #819bcb;
	background-image: linear-gradient(to bottom, #819bcb, #536f9d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#819bcb, endColorstr=#536f9d);
}